<template>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 SlickSlider">
        <slick
        ref="slick"
        :options="slickOptions"
        @afterChange="handleAfterChange"
        @beforeChange="handleBeforeChange"
        @breakpoint="handleBreakpoint"
        @destroy="handleDestroy"
        @edge="handleEdge"
        @init="handleInit"
        @reInit="handleReInit"
        @setPosition="handleSetPosition"
        @swipe="handleSwipe"
        @lazyLoaded="handleLazyLoaded"
        @lazyLoadError="handleLazeLoadError"
        >
        <div class="slide_inner" v-for="(item, key) in items" >
          <a :href="'Products/'+item.productId" title="">
            <img :src="item.imgSrc" alt="">
            <h2>{{item.h2}}</h2>
            <p v-if="item.price != null">{{item.price}}元</p>
            <p v-if="item.p != null">{{item.p}}</p>
          </a>
        </div>
      </slick>
    </div>
  </div>
</div>
</template>

<script>
/*https://github.com/staskjs/vue-slick*/

import Slick from 'vue-slick';

export default {
  name: 'SlickSlider',
  data() {
    return {
      items:[
      {
        productId:"A00001",
        imgSrc:"images/product/product1.png",
        h2:'柴犬1號',
        price:'2',
        p:null,
      },
      {
        productId:"A00002",
        imgSrc:"images/product/product2.png",
        h2:'柴犬2號',
        price:'2',
        p:null,
      },
      {
        productId:"",
        imgSrc:"images/product/product3.png",
        h2:'全部柴犬',
        price:null,
        p:'全部柴犬',
      }
      ],
      slickOptions: {
        nextArrow: '<i class="slick-next"><img src="'+this.nextArrowImg+'"></i>',
        prevArrow: '<i class="slick-prev"><img src="'+this.prevArrowImg+'"></i>',
        cssEase: 'linear',
        arrows: true,
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 4,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        ]

      },
    };
  },
  components: { Slick },
  props:['href', 'imgSrc', 'nextArrowImg', 'prevArrowImg'],

  watch: {


  },

  created() {

  },

  methods: {
    next() {
      this.$refs.slick.next();
    },

    prev() {
      this.$refs.slick.prev();
    },

    reInit() {
      this.$nextTick(() => {
        this.$refs.slick.reSlick();
      });
    },

    handleAfterChange(event, slick, currentSlide) {
    },
    handleBeforeChange(event, slick, currentSlide, nextSlide) {
    },
    handleBreakpoint(event, slick, breakpoint) {
    },
    handleDestroy(event, slick) {
    },
    handleEdge(event, slick, direction) {
    },
    handleInit(event, slick) {
    },
    handleReInit(event, slick) {
    },
    handleSetPosition(event, slick) {
    },
    handleSwipe(event, slick, direction) {
    },
    handleLazyLoaded(event, slick, image, imageSource) {
    },
    handleLazeLoadError(event, slick, image, imageSource) {
    },
  },

}

</script>
