<template>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <carousel 
        ref="VueCarousel"
        :per-page="1"
        :per-page-custom="[[320, 1], [1199, 1], [1940, 1]]"
        :mouse-drag="false"
        :navigation-enabled="true"
        :loop="true"
        :autoplay="true"
        easing="ease"
        paginationActiveColor="#1f4d80"
        >
        <slide v-for="(item, key) in items">
          <a :href="item.url" :title="item.title">
            <div>
              <img :src="item.src" :alt="item.alt">
            </div>
          </a>
        </slide>
      </carousel>
    </div>
  </div>
</div>
</template>

<script>
/*https://github.com/SSENSE/vue-carousel*/

import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'VueCarouselSlider',
  data() {
    return {
      items:[
      {
        url:"Products",
        src:"images/banner/1.png",
        title:'柴犬1號',
        alt:'我是柴犬1號',
      },
      {
        url:"Products",
        src:"images/banner/2.png",
        title:'柴犬2號',
        alt:'我是柴犬2號',
      },
      {
        url:"Products",
        src:"images/banner/3.png",
        title:'柴犬3號',
        alt:'我是柴犬3號',
      },
      {
        url:"Products",
        src:"images/banner/4.png",
        title:'柴犬4號',
        alt:'我是柴犬4號',
      }
      ],
    }
  },
  components: {
    Carousel,
    Slide
  },
  watch: {
  },

  created() {
    const self = this;
    axios.get(self.$conf.SLIDERS_Api)
    .then((response)=>{
      self.items = response.data;
    })
  },
  mounted() {
  },
  methods: {


  }

}

</script>
