<template>
  <div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="ruby@breaktime.com.tw">
    </div>
    <div class="form-group card-number-group">
      <label for="card-number" class="control-label"><span id="cardtype"></span>卡號</label>
      <div class="form-control card-number"></div>
    </div>
    <div class="form-group expiration-date-group">
      <label for="expiration-date" class="control-label">卡片到期日</label>
      <div class="form-control expiration-date" id="tappay-expiration-date"></div>
    </div>
    <div class="form-group cvc-group">
      <label for="cvc" class="control-label">卡片後三碼</label>
      <div class="form-control cvc"></div>
    </div>

    <button type="submit" class="btn btn-default">Pay</button>
  </form>
  <br>
  <pre class="jumbotron text-left" id="curl">
  </pre>
</div>
</template>

<script>
export default {
  name: 'TapPayForm',
}
</script>
