<template lang="html">
  <div class="people-list">
<!--     <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div> -->
    <ul class="list">

      <li class="clearfix" v-for="user in usersInRoom">
        <div class="about">
          <div class="head-pic">
            <img src="https://rubyworks.site/PunchRecord/public/admin_package/dist/img/user2-160x160.jpg" alt="avatar" />
          </div>
          <div class="info">
            <div class="name">{{ user.name }}</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </div>
      </li>


    </ul>
  </div>
</template>

<script>
export default {
  props: ['usersInRoom'],
  data() {
    return {
    }
  },
  methods: {
  }
}
</script>
