<template lang="html">
  <div class="chat-message clearfix">
    <textarea name="message-to-send" id="message" placeholder ="請輸入訊息～" rows="3" v-model="messageText" @keyup.enter="sendMessage"  @keyup="isTyping"></textarea>

    <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
    <i class="fa fa-file-image-o"></i>

    <button class="btn btn-primary" @click="sendMessage">送出</button>

  </div>
</template>

<script>
export default {
  props: ['userName'],
  data() {
    return {
      messageText: '',
      messageTextError: true,
    }
  },
  watch: {
    messageText: function(value){
      if (!value) {
        this.messageTextError  = true;
      }
      else {
        this.messageTextError = false;
      }

    }
  },
 methods: {
  sendMessage() {
   const self = this;
   if(self.messageTextError === false)
   {
     self.$emit('messagesent', {
      message: self.messageText
    });
     self.messageText = '';
     this.messageTextError  = true;
   }


 },
 isTyping() {
   const self = this;
   setTimeout(function() {
     Echo.private('ChatBot-isTyping-channel').whisper('typing', {
      userName: self.userName
    });
   }, 600);
 }
}
}
</script>
