<template lang="html">
	<li v-show="typing" class="clearfix">
		<div class="typing">
			<span class="keying">{{userName}}  正在輸入中～			
			</span>
			<div class="load">
				<i class="fa fa-circle online line"></i>
				<i class="fa fa-circle online line" style="color: #AED2A6"></i>
				<i class="fa fa-circle online line" style="color:#DAE9DA"></i>
			</div>
		</div>
	</li>
</template>


<script>
export default {
	data: function() {
		return {
			userName : 	null,
			typing: false
		}
	},
	created() {
		let self = this;
		Echo.private('ChatBot-isTyping-channel').listenForWhisper('typing', (e) => {
			self.userName = e.userName;
			self.typing   = true;
		})



	},
	watch: {
		typing () {
			let self = this;
			this.chatHistoryScrollTop();
			setTimeout(function() {
				self.typing   = false;
				self.userName = null;
			}, 1200);
		}
	},
	methods: {
		chatHistoryScrollTop:function() {
			this.$nextTick(function(){
				var chatHistory = document.getElementById('chat-history');
				chatHistory.scrollTop = chatHistory.scrollHeight;
			})
		},
	}
}
</script>
