<template>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">產品列表</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>產品編號</th>
              <th>產品名稱</th>
              <th>數量</th>
              <th>未稅價</th>
              <th>稅額</th>
              <th>原價</th>
              <th>總額</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <order-item 
            v-for="(item, key) in productsContent"  
            :productsContent="productsContent" 
            :productId="item.id" 
            :key="item.id"
            ></order-item>
          </tbody>

        </table>

      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'ShoppingOrder',
  data() {
    return {
      productsContent:{},
    }
  },

  created() {
    this.getData(); 
  },

  methods: {
    getData(){
      const self = this;
      axios.get(self.$conf.SHOPPINGCART_PRODUCTS_API)
      .then((response) => {
        this.productsContent  = response.data;
        for (var key in this.productsContent) {
          this.productsContent[key].price    = parseInt(this.productsContent[key].price);
          this.productsContent[key].tax      = parseInt(this.productsContent[key].tax);
          this.productsContent[key].subtotal = parseInt(this.productsContent[key].subtotal);
        }

        this.$bus.$emit('productsContent', this.productsContent);
      })
    }
  }

}

</script>
