<template>
  <tr>
    <td>{{id}}</td>
    <td>{{originalName}}</td>
    <td>
      <button class="btn btn-success btn-sm" v-on:click="addItem()">+</button>
      <input 
      type="text" size="3" 
      v-model.number = "qty" 
      >
      <button class="btn btn-success btn-sm" v-on:click="delItem()">-</button>
    </td>
    <td>$ {{originalPrice}}</td> 
    <td>$ {{price}}</td> 
    <td>$ {{tax}}</td> 
    <td>$ {{subtotal}}</td>
    <td>
      <button class="btn btn-success btn-sm" v-on:click="itemAdd(id)">+</button>
    </td>
  </tr>

</template>

<script>
export default {
  name: 'order-item',
  data: function() {
    return {
      sessionCartContent:{},
      cartContent:{},
      qty:1,
      price:0,
      tax:0,
      subtotal:0,
      originalPrice:0,
      originalTax:0,
      originalTotal:0,
      id:0,
      originalName:null,
    }
  },
  props: ['productsContent', 'productId'],

  watch: {
    qty(value){
      this.qty = value;
      this.itemSet();
    },
    cartContent(value){ 
      this.cartContent = value;
    }
  },

  created() {
    this.beginSet();
  },
  methods:{
    beginSet:function(){ 
      let key            = this.productId;
      this.originalPrice = this.price    = this.productsContent[key]['price'];
      this.originalTax   = this.tax      = this.productsContent[key]['tax'];
      this.originalTotal = this.subtotal = this.productsContent[key]['subtotal'];
      this.id            = this.id       = this.productsContent[key]['id'];
      this.originalName  = this.name     = this.productsContent[key]['name'];
    },

    addItem:function(){ 
      this.qty ++; 
    }, 

    delItem:function(){ 
      if(this.qty > 0){ 
        this.qty --;  
      } 
    }, 

    itemSet:function(){ 
      this.price    = this.originalPrice * this.qty;  
      this.tax      = this.originalTax * this.qty;  
      this.subtotal = this.originalTotal * this.qty;   
    },
    createSessionApi(){
      const self = this;
      axios.post(self.$conf.SHOPPINGCART_CREATESESSION_Api, {results: self.cartContent})
      .then((response) => {
        for (var key in response.data) {
          self.sessionCartContent[response.data[key].id] = response.data[key];
        }
        self.$bus.$emit('cartContent', self.sessionCartContent);
      })
    },

    itemAdd:function(productId){
      this.cartContent[productId] =
      {
        id:this.productsContent[productId].id,
        name:this.productsContent[productId].name,
        qty:this.qty,
        price:this.originalPrice,
        tax:this.originalTax,
        subtotal:this.price + this.tax
      };
      this.createSessionApi(this.cartContent);

    }
  }
}
</script>
