<template>
 <div class="col-md-12" v-on:mouseleave="active = false">
  <img :src="cartImages" v-on:mouseenter="active = true" class="cartImages">
  <div class="card" v-show="active">
    <div class="card-header">購物車</div>
    <div class="card-body">

      <table class="table">
        <thead>
          <tr>
            <th>產品id</th>
            <th>產品名稱</th>
            <th>數量</th>
            <th>原價</th>
            <th>未稅價</th>
            <th>稅額</th>
            <th>總額</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <cart-item 
          v-for             = "(item, key) in cartContent"  
          :key              = "item.id"  
          :orderProductId   = "item.id" 
          :orderCartContent = "cartContent"
          :productsContent  = "productsContent"
          :orderCartTotal   = "cartTotal"
          ></cart-item>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">總計</td>
            <td>${{cartTotal.subPrice}}</td>
            <td>${{cartTotal.subTax}}</td>
            <td>${{cartTotal.subtotal}}</td>
            <td></td>
          </tr>
        </tfoot>

      </table>
      
      <button class="btn btn-primary btn-lg btn-block" type="submit" @click="turnToShoppingInfo()">結帳</button>

    </div>
  </div>
</div>

</template>

<script>
export default {
  name: 'ShoppingCart',
  data() {
    return {
      active: false,
      sessionCartContent:{},
      productsContent:{},
      cartContent:{},
      cartTotal:{
        subPrice:0,
        subTax:0,
        subtotal:0
      },
    }
  },
  props:['cartImages'],
  watch: {
    cartContent(cartContent){
      this.cartContent = cartContent;
      this.setCartTotal();
    },
    productsContent(value){
      this.productsContent = value;
    },
    cartTotal(value){
      this.cartTotal = value;
    }

  },

  created() {
   this.getData();

   this.$bus.$on('cartTotal', cartTotal => {
    this.cartTotal = cartTotal;
  })

    this.$bus.$on('cartContent', cartContent => {
      this.cartContent = cartContent;
      this.setCartTotal();
    })

  },
  mounted(){

  },

  methods: {
    setCartTotal(){
      this.cartTotal   = {
        subPrice:0,
        subTax:0,
        subtotal:0
      };

      for (var key in this.cartContent) {
        this.cartTotal.subPrice += parseInt(this.cartContent[key].qty * this.productsContent[key].price);
        this.cartTotal.subTax   += parseInt(this.cartContent[key].qty * this.productsContent[key].tax);
        this.cartTotal.subtotal += parseInt(this.cartContent[key].qty * this.productsContent[key].subtotal);
      }
    },
    getData(){
      const self = this;
      axios.get(self.$conf.SHOPPINGCART_PRODUCTS_API)
      .then((response) => {
        this.productsContent  = response.data;
        for (var key in this.productsContent) {
          this.productsContent[key].price    = parseInt(this.productsContent[key].price);
          this.productsContent[key].tax      = parseInt(this.productsContent[key].tax);
          this.productsContent[key].subtotal = parseInt(this.productsContent[key].subtotal);
        }
        this.getSessionApi();
      })
    },

    turnToShoppingInfo(){
      window.location.href = this.$conf.SHOPPINGCART_SHOPPINGINFO;
    },

    getSessionApi(){
      const self = this;
      axios.get(self.$conf.SHOPPINGCART_GETSESSION_Api)
      .then((response) => {

        for (var key in response.data) {
          let id = response.data[key].id;
          self.sessionCartContent[id]  = response.data[key];
        }

        self.cartContent = self.sessionCartContent;
        self.setCartTotal();
      })
    }


  }

}

</script>
