<template>
  <tr v-if="isShow">
    <td>{{id}}</td>
    <td>{{originalName}}</td>
    <td>
      <button class="btn btn-success btn-sm" v-on:click="addItem()">+</button>
      <input 
      type           = "text" size="3" 
      v-model.number = "qty"
      :numberName    = "'cart['+id+']'" 
      >
      <button class="btn btn-success btn-sm" v-on:click="delItem()">-</button>
    </td>
    <td>$ {{originalPrice + originalTax}}</td> 
    <td>$ {{price}}</td> 
    <td>$ {{tax}}</td> 
    <td>$ {{subtotal}}</td>
    <td><button class="btn btn-success btn-sm" v-on:click="itemReset()">x</button></td>
  </tr>
</template>

<script>
export default {
  name: 'ShoppingCartItem',
  props: ['orderProductId', 'orderCartContent', 'productsContent', 'orderCartTotal'],

  data: function() {
    return {
      isShow:true,
      sessionCartContent:{},
      cartContent:this.orderCartContent,
      id:this.orderProductId,
      originalPrice:this.productsContent[this.orderProductId].price,
      originalTax:this.productsContent[this.orderProductId].tax,
      originalTotal:this.productsContent[this.orderProductId].subtotal,
      originalName:this.orderCartContent[this.orderProductId].name,

      tax:this.orderCartContent[this.orderProductId].tax,
      subtotal:this.orderCartContent[this.orderProductId].subtotal,
      price:this.orderCartContent[this.orderProductId].price,
      qty:this.orderCartContent[this.orderProductId].qty,
    }
  },

  watch: {
    orderProductId(value) {
      this.id = value;
    },
    orderCartContent(value){
      this.cartContent = value;
    },
    productsContent(value){
      this.productsContent = value;
    },
    cartContent(value){
      this.cartContent = value;
    },
    qty(value){
      this.isShow = (value === 0) ? false : true;
      this.qty = value;
      this.itemSet();
    },

  },

  created() {
    this.beginSet();

    this.$bus.$on('cartContent', cartContent => {
      this.cartContent = cartContent;
      this.setData();
    })
  },

  methods:{
    setData:function(){
      if(this.cartContent[this.orderProductId]){
        this.qty          = this.cartContent[this.orderProductId].qty;
        this.tax          = this.originalTax * this.qty;
        this.subtotal     = this.originalTotal * this.qty;
        this.price        = this.originalPrice * this.qty;
      }

    },
    beginSet:function(){ 
     this.productsContent  = this.productsContent;
     this.cartContent      = this.orderCartContent;
     this.id               = this.orderProductId;
     this.originalPrice    = this.productsContent[this.id].price;
     this.originalTax      = this.productsContent[this.id].tax;
     this.originalTotal    = this.productsContent[this.id].subtotal;
     this.originalName     = this.productsContent[this.id].name;
     this.qty              = this.cartContent[this.id].qty;
     this.tax              = this.originalTax * this.qty;
     this.subtotal         = this.originalTotal * this.qty;
     this.price            = this.originalPrice * this.qty;
   },

   itemReset:function(){ 
    this.qty    = 0; 
    this.updateSessionApi();
  }, 

  addItem:function(){ 
    this.qty ++; 
    this.updateSessionApi();
  }, 

  delItem:function(){ 
    if(this.qty > 0){ 
      this.qty --;  
      this.updateSessionApi();
    } 
  }, 

  itemSet:function(){ 
    this.price    = this.originalPrice * this.qty;  
    this.tax      = this.originalTax * this.qty;  
    this.subtotal = this.originalTotal * this.qty;   
  },
  updateSessionApi(){
    const self = this;

    this.cartContent[this.id].qty      = this.qty;
    this.cartContent[this.id].tax      = this.originalTax;
    this.cartContent[this.id].subtotal = this.originalTotal;
    this.cartContent[this.id].price    = this.originalPrice;

    this.$bus.$emit('cartContent', this.cartContent);

    axios.post(self.$conf.SHOPPINGCART_UPDATESESSION_Api, {results: self.cartContent})
    .then((response) => {
      for (var key in response.data) {
        self.sessionCartContent[response.data[key].id] = response.data[key];
      }
    })
  },


}

}


</script>
