

.chat-log-container {
  margin: 0 auto;
  width: 800px;
  background: #444753;
  border-radius: 5px;


  $green: #86BB71;
  $blue: #94C2ED;
  $orange: #E38968;
  $gray: #92959E;


  img{
    width: auto;
  }
  
  .head-pic{
    width: auto;
    float: left;
  }

  .head-pic img{
    border-radius: 50%;
    width: 50px;
  }

  .people-list {
    width: 300px;
    float: left;

    .online {
      border-radius: 50%;
      $color-highlight-ice: rgba(156, 241, 179, 1);
      $color-primary-ice: rgba(48, 138, 255, 1);
      $color-secondary-ice: rgba(29, 96, 240, 1);
      border-color: $color-highlight-ice;
      background-image: linear-gradient(to bottom, transparentize($color-primary-ice, .5), transparentize($color-secondary-ice, .5));
      box-shadow: 0 0 70px transparentize($color-primary-ice, .5), 0 5px 20px transparentize($color-primary-ice, .5), inset 0 1px $color-highlight-ice, inset 0 -1px $color-highlight-ice;
      color: $color-highlight-ice;
    }

    .search {
      padding: 20px;
    }

    input {
      border-radius: 3px;
      border: none;
      padding: 14px;
      color: white;
      background: #6A6C75;
      width: 90%;
      font-size: 14px;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
      }

    }

    .fa-search {
      position: relative;
      left: -25px;
      color: white;
    }

    ul {
      padding: 20px;
      height: 500px;

      li {
        padding-bottom: 20px;
      }
    }

    img {
      float: left;
    }

    .about {
      float: left;
      margin-top: 8px;
      padding-left: 8px;
      width: 300px;

      .head-pic {
        padding: 0 10px 0 0;
      }
    }

    .status {
      color: $gray;
    }

    .list{
      .about{
        .info{
         .name{
          color: white;
        }   
      }

    }
  }

}

.chat {
  width: 490px;
  float: right;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 500px;
    overflow-x: hidden;

    .message-data {
      margin-bottom: 15px;
      width: auto;
      float: left;
      &.align-right{
       float: right;
       .head-pic{
        float: right;
      }
      .user-info{
       float: right;
     }
   }

   .head-pic{
    float: left;
  }

  .user-info{
   float: left;
 }
}

.message-data-time {
  color: lighten($gray, 8%);
  padding-left: 6px;
  float: left;
  &.right{
    float: right;
  }
}

.message {      
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  float: left;
  &.right{
    float: right;
  }

  &:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $green;
    border-width: 10px;
    margin-left: -10px;
  }
}

.my-message {
  background: $green;
}

.other-message {
  background: $blue;

  &:after {
    border-bottom-color: $blue;
    left: 93%;
  }
}

}

.chat-message {
  padding: 30px;

  textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;

  }

  .fa-file-o, .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;

  }

  button {
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: darken($blue, 7%);
    }
  }
}
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


}



.load .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}

.load .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}

.load .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
  0 {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.typing{
  background: #f4433699;
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  float: left;
  font-weight: 700;

  .keying{
    float: left;
    padding: 0 10px 0 0;
  }

  .load{
    margin-top: -10px;
  }
}
