img{
	width:100%
}

textarea{
	width: 100%;
}

.mb-3{
	margin:0 0 3% 0;
}

* { 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
	color: $font-color2;
	text-decoration: none;
	&:hover{
		color:$font-color1;
		text-decoration:none;
	}
	
	&.active{
		color:$font-color1;
		text-decoration:none;
	}
}

*:focus {
	outline: 0;
	outline: none;
}

ol, ul {
	list-style: none;
	padding: 0;
}

h1{
	font-weight: 500;
}

article{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
}

.navbar {
	white-space: nowrap;
}

.nav-item.dropdown .dropdown-toggle{
	color: white;
}

.nav-item.dropdown, .dropleft {
	position: relative;
	padding: 8px 0;
}

.navbar.navbar-expand-sm button{
	position: relative;
	z-index: 2;
}
