
.slick-slide{
	padding: 10px;
	
	.slide_inner{
		padding: 15px 10px;
		background: #efeae5;
		cursor: pointer;

		h2{
			font-size: 18px;
			font-weight: bolder;
			margin-bottom: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}


		p{
			font-size:18px;
			min-height: 46px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
}

.VueCarousel{
	margin:30px auto;
	.VueCarousel-wrapper{
		.VueCarousel-slide{
			padding: 1em;
			&:hover,
			&:focus {
				div{
					box-shadow:1em 1em 1em rgba(20%,20%,40%,0.5) !important;
					transform: translateY(-1em);
					transition:all 250ms;
				}
			}
		}
	}
	
}
