.cartImages{
	width: 30px;
	cursor: pointer;
}

.shopping-cart{
	text-align: right;
	margin: 0;
	padding: 0;
}

.shopping-cart .row{
	width: 100%;
	margin: 0;
}

@media (max-width: 820px){
	.table{
		overflow-x: auto;
		white-space: nowrap;
		display: block;
	}
}

@media (max-width: 575.98px){
	.container.shopping-cart{
		margin: -2rem 0 0 0;

		.col-md-12{
			padding: 0;
		}
	}
}