<template>
 <div>

   <div class="row mb-3">
    <div class="col-md-12">
      <label>配送方式</label>
      <div class="custom-control custom-radio">
        <input v-model="shipping" value="1" name="shipping" id="shipping1" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="shipping1" >配送</label>
      </div>
      <div class="custom-control custom-radio">
        <input v-model="shipping" value="2" name="shipping" id="shipping2" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="shipping2">門市取貨</label>
      </div>
    </div>
  </div>



  <div class="row mb-3" v-if="shipping === '1'">
    <div class="col-md-3">
      <label>配送地址</label>
      <select v-model.lazy="addressCitySelect" name="addressCity" class="custom-select d-block w-100" >
        <option value="" disabled>請選擇縣市</option>
        <option v-for="(item, key) in areas" :value="key">{{key}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label>&nbsp;</label>
      <select v-model.lazy="addressTownSelect" name="addressTown" class="custom-select d-block w-100">
        <option v-for="(item, key) in addressTown" :value="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <label>&nbsp;</label>
      <input v-model="road" type="text" class="form-control" v-bind:class="{ 'is-invalid': roadError }">
    </div>
    <input name="address" type="text" :value="address" hidden>
  </div>


  <div class="row mb-3" v-if="shipping === '2'">
    <div class="col-md-3">
      <label>取貨門市</label>
      <select v-model.lazy="storeSelect" name="addressCity" class="custom-select d-block w-100" >
        <option v-for="(item, key) in store" :value="key">{{item.name}}</option>
      </select>
    </div>

  </div>

  <div class="row mb-3" v-if="shipping === '2'">
    <div class="col-md-12">
      {{storeSelectAddress}}
    </div>
  </div>

</div>
</template>

<script>
export default {
  name: 'ShoppingShipping',
  data() {
    return {
      shipping: '1',
      address: '',
      road: '',
      storeSelect: '',
      storeSelectAddress: '',
      addressCitySelect: '',
      addressTownSelect: '',
      addressTown: '',
      areas: this.$conf.TaiwanCity,
      store:{
        0:{
          name:'柴柴門市',
          address:'柴柴市柴柴路150號'
        }
      },

      roadError: false,
      roadErrMsg: '',
    }
  },
  watch: {
    address: function(value){
      this.$emit('getAddress', value);
    },
    shipping: function(value){
      if(value === "1")
      {
       this.addressCitySelect = '臺北市';
     }
     else if(value === "2")
     {
      this.storeSelect = 0;  
    }

    this.$emit('getShipping', value);
  },
  storeSelect: function(value){
    this.storeSelectAddress = this.store[value].address;
    this.$emit('getStoreSelect', value);
  },
  addressCitySelect: function(value){
    this.addressTown       = this.areas[value];
    this.address           = value + this.areas[value][0];
    this.addressTownSelect = this.areas[value][0];
  },
  addressTownSelect: function(value){
    this.addressTownSelect = value;
    this.address           = this.addressCitySelect + value;
  },
  road : function(value){
    if (value === '') {
      this.roadError  = true;
      this.roadErrMsg = '請輸入地址';
    }
    else {
      this.roadError = false;
    }

    this.address = this.addressCitySelect + this.addressTownSelect + value;
  }
},

created() {
},

methods: {

}

}

</script>
