<template>
  <div class="row mb-3">
    <div class="col-md-12">
      <label>收件人</label>
      <div class="custom-control custom-radio">
        <input v-model="recipientRadio" name="recipient" id="recipient1" type="radio" class="custom-control-input" value="1">
        <label for="recipient1" class="custom-control-label">同訂購人</label>
      </div>
      <div class="custom-control custom-radio">
        <input v-model="recipientRadio" name="recipient" id="recipient2" type="radio" class="custom-control-input"  value="2">
        <label for="recipient2" class="custom-control-label">非訂購人</label>
      </div>
      <div class="col-md-12">
        <input  name="recipientName" type="text" class="form-control" placeholder="" v-model="recipient" v-bind:class="{ 'is-invalid': nameError }">
        <div class="invalid-feedback">
          {{ nameErrMsg }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShoppingRecipient',
  data() {
    return {
      recipientRadio: '1',
      recipient: '',
      nameError: false,
      nameErrMsg: '',
    }
  },
  props: ['name'],
  watch: {
    recipientRadio: function(value){
      this.recipient = (value === '1') ? this.name : '';

    },
    recipient: function(value){
      this.$emit('getRecipient', value);

      let checkName = /^[a-zA-Z\u4E00-\u9FFF]+$/;
      if (!checkName.test(value)) {
        this.nameError  = true;
        this.nameErrMsg = '請輸入正確資料';
      }
      else {
        this.nameError = false;
      }

      if(value === ""){
       this.nameError = false;
     }

    },
    name: function(value){
      this.recipient = (this.recipientRadio === '1') ? value : this.recipient;
    }
  },

  created() {
  },

  methods: {

  }

}

</script>
