<template>
  <div class="row mb-3">
    <div class="col-md-12">
      <label for="comment">訂單備註</label>
      <textarea name="comment" id="comment" v-model="comment"></textarea>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShoppingComment',
  data() {
    return {
      comment:''
    }
  },
  watch: {
     comment: function(value){
      this.$emit('getComment', value);
    }
  },

  created() {
  },

  methods: {

  }

}

</script>
