<template>
 <div class="row mb-3">
  <div class="col-md-12">
    <label for="tel">聯絡電話</label>
    <input v-model="tel" name="tel" type="tel" class="form-control" id="tel" v-bind:class="{ 'is-invalid': telError }" required="required">
    <div class="invalid-feedback">
      {{ telErrMsg }}
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'ShoppingTel',
  data() {
    return {
      tel: '',
      telError: false,
      telErrMsg: '',
    }
  },
  watch: {
   tel: function(value){
    this.$emit('getTel', value);

    let checkTel = /^[0-9]+$/;
    if (!checkTel.test(value)) {
      this.telError  = true;
      this.telErrMsg = '請輸入正確資料';
    }
    else {
      this.telError = false;
    }

  }
},

created() {
},

methods: {

}

}

</script>
