<template>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">訂購人資料</div>

      <div class="card-body col-md-12">
        <form @submit.prevent="handleSubmit">

          <!-- 姓名 -->
          <shopping-name @getName="getName" @getFirstName="getFirstName"  @getLastName="getLastName"></shopping-name>
          <!-- 姓名-end -->

          <!-- 收件人 -->
          <shopping-recipient @getRecipient="getRecipient" :name="name"></shopping-recipient>
          <!-- 收件人-end -->

          <!-- Email -->
          <shopping-email @getEmail="getEmail"></shopping-email>
          <!-- Email-end -->

          <!-- 聯絡電話 -->
          <shopping-tel @getTel="getTel"></shopping-tel>
          <!-- 聯絡電話-end -->

          <hr class="mb-4">

          <!-- 配送方式 -->
          <shopping-shipping @getAddress="getAddress" @getStoreSelect="getStoreSelect" @getShipping="getShipping"></shopping-shipping>
          <!-- 配送方式-end -->

          <hr class="mb-4">

          <!-- 發票資訊 -->
          <shopping-receipt @getReceipt="getReceipt" @getRequestPaperInvoice="getRequestPaperInvoice" @getReceiptTitle="getReceiptTitle" @getReceiptTax="getReceiptTax"></shopping-receipt>
          <!-- 發票資訊-end -->


          <hr class="mb-4">

          <!-- 訂單備註 -->
          <shopping-comment @getComment="getComment"></shopping-comment>
          <!-- 訂單備註-end-->

          <hr class="mb-4">


          <!-- 訂單列表 -->
          <shopping-list @getCartContent="getCartContent" @getCartTotal="getCartTotal"></shopping-list>
          <!-- 訂單列表-end-->

          <button v-show="cartHasProject" class="btn btn-primary btn-lg btn-block" type="submit">確認送出</button>
        </form>

        <shopping-mpgApi :sendState="sendState" :mpgApiData="mpgApiData" :sendData="sendData"></shopping-mpgApi>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShoppingInfo',
  data() {
    return {
      firstName: '',
      lastName: '',
      name: '',
      tel: '',
      comment:'',
      recipient: '',
      shipping: '1',
      requestPaperInvoice: false,
      road: '',
      address: '',
      email: '',
      storeSelect: '0',
      receipt: '1',
      receiptTitle: '',
      receiptTax: '',
      subtotal:'',
      cartTotal:{},
      cartContent:{},
      shoppingCartJson:'',
      mpgApiData: '',
      mpgApiResults:{},
      sendState:false,
      sendData:{},
      cartHasProject:false
    }
  },
  watch: {
    cartContent(cartContent){
      this.cartContent = cartContent;
    },
  },

  created() {
    this.$bus.$on('cartContent', cartContent => {
      this.cartContent = cartContent;
    })

  },

  methods: {
    getComment(data){
      this.comment = data;
    },
    getName(data){
      this.name = data;
    },
    getFirstName(data){
      this.firstName = data;
    },
    getLastName(data){
      this.lastName = data;
    },
    getRecipient(data){
      this.recipient = data;
    },
    getEmail(data){
      this.email = data;
    },
    getTel(data){
      this.tel = data;
    },
    getAddress(data){
     this.address = data;
   },
   getStoreSelect(data){
     this.storeSelect = data;
   },
   getShipping(data){
     this.shipping = data;
   },
   getReceipt(data){
     this.receipt = data;
   },
   getReceiptTitle(data){
     this.receiptTitle = data;
   },
   getReceiptTax(data){
     this.receiptTax = data;
   },
   getRequestPaperInvoice(data){
     this.requestPaperInvoice = data;
   },
   getCartContent(data){
     this.cartContent = data;
     if(Object.keys(data).length != 0)
     {
      this.cartHasProject = true;   
    }

  },
  getCartTotal(data){
   this.cartTotal = data;
 },

 handleSubmit() {
  let cartContent = {};

  for (var key in this.cartContent) {
    if(this.cartContent[key].value != 0){
      cartContent[key] = this.cartContent[key];
    }
    else
    {
      delete cartContent[key];
    }
  }

  this.shoppingCartJson = ''; 
  for (var key in this.cartContent) {
    this.shoppingCartJson += this.cartContent[key].name + '*' + this.cartContent[key].qty + '<br>';
  }

  this.mpgApiData = this.cartTotal.subtotal + "/" + this.shoppingCartJson + "/" + this.email;
  this.sendState  = true;
  this.sendData   = {
    firstName: this.firstName,
    lastName: this.lastName,
    name: this.name,
    recipient: this.recipient,
    email: this.email,
    tel: this.tel,
    shipping: this.shipping,
    address: this.address,
    storeSelect: this.storeSelect,
    receipt: this.receipt,
    receiptTitle: this.receiptTitle,
    receiptTax: this.receiptTax,
    requestPaperInvoice: this.requestPaperInvoice,
    comment: this.comment,
    cartContent: JSON.stringify(cartContent),
    subtotal:this.cartTotal.subtotal,
  };



}

}

}

</script>
