<template>
  <div class="row mb-3">
    <div class="col-md-12">

      <table class="table">
        <thead>
          <tr>
            <th>產品id</th>
            <th>產品名稱</th>
            <th>數量</th>
            <th>原價</th>
            <th>未稅價</th>
            <th>稅額</th>
            <th>總額</th>
          </tr>
        </thead>

        <tbody>
          <shopping-listItem 
          v-for           = "(item, key) in cartContent"
          v-if            = "item.qty > 0"
          :key            = "item.id"  
          :orderProductId = "item.id"
          :name           = "item.name" 
          :orderQty       = "item.qty" 
          :originalPrice  = "item.price"
          :orderPrice     = "item.price * item.qty" 
          :orderTax       = "item.tax * item.qty" 
          :orderTotal     = "(item.price + item.tax) * item.qty" 
          ></shopping-listItem>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">總計</td>
            <td>${{cartTotal.subPrice}}</td>
            <td>${{cartTotal.subTax}}</td>
            <td>${{cartTotal.subtotal}}</td>
            <td></td>
          </tr>
        </tfoot>

      </table>

    </div>
  </div>
</template>

<script>
export default {
  name: 'ShoppingList',
  data() {
    return {
      sessionCartContent:{},
      productsContent:{},
      cartContent:{},
      cartTotal:{
        subPrice:0,
        subTax:0,
        subtotal:0
      },
    }
  },
  watch: {
    cartContent(cartContent){
      this.cartContent = cartContent;
    },
    productsContent(value){
      this.productsContent = value;
    },
  },

  created() {
    this.getData();
    this.$bus.$on('cartContent', cartContent => {
      this.cartContent = cartContent;
      this.setCartTotal();
    })
  },
  mounted(){

  },

  methods: {
    setCartTotal(){
      this.cartTotal   = {
        subPrice:0,
        subTax:0,
        subtotal:0
      };

      for (var key in this.cartContent) {
        this.cartTotal.subPrice += parseInt(this.cartContent[key].qty * this.productsContent[key].price);
        this.cartTotal.subTax   += parseInt(this.cartContent[key].qty * this.productsContent[key].tax);
        this.cartTotal.subtotal += parseInt(this.cartContent[key].qty * this.productsContent[key].subtotal);
      }

      this.$emit('getCartContent', this.cartContent);
      this.$emit('getCartTotal', this.cartTotal);
    },
    getData(){
      const self = this;
      axios.get(self.$conf.SHOPPINGCART_PRODUCTS_API)
      .then((response) => {
        this.productsContent  = response.data;
        for (var key in this.productsContent) {
          this.productsContent[key].price    = parseInt(this.productsContent[key].price);
          this.productsContent[key].tax      = parseInt(this.productsContent[key].tax);
          this.productsContent[key].subtotal = parseInt(this.productsContent[key].subtotal);
        }
        this.getSessionApi();
      })
    },

    getSessionApi(){
      const self = this;
      axios.get(self.$conf.SHOPPINGCART_GETSESSION_Api)
      .then((response) => {
       for (var key in response.data) {
        let id = response.data[key].id;
        self.sessionCartContent[id]  = response.data[key];
      }
      self.cartContent = self.sessionCartContent;
      self.setCartTotal();
    })
    },
  }

}

</script>
