<template>
  <tr>
    <td>{{productId}}</td>
    <td>{{name}}</td>
    <td>{{qty}}</td>
    <td>$ {{originalPrice}}</td> 
    <td>$ {{price}}</td> 
    <td>$ {{tax}}</td> 
    <td>$ {{total}}</td>
  </tr>
</template>
<script>
export default {
  name: 'ShoppingListItem',
  data() {
    return {
      productId:this.orderProductId,
      qty:this.orderQty,
      price:this.orderPrice,
      tax:this.orderTax,
      total:this.orderTotal,
    }
  },
  props: ['orderProductId', 'name', 'orderQty', 'orderPrice', 'orderTax', 'orderTotal', 'originalPrice'],
  watch: {
    orderProductId(id){
      this.id = id;
    },
    orderQty(orderQty){
      this.qty = orderQty;
    },
    orderPrice(orderPrice){
      this.price = orderPrice;
    },
    orderTax(orderTax){
      this.tax = orderTax;
    },
    orderTotal(orderTotal){
      this.total = orderTotal;
    },
  },

  created() {
  },

  methods: {
  }

}

</script>
