<template>
 <div class="row mb-3">
  <div class="col-md-12">
    <label for="email">Email </label>
    <input v-model="email" name="email" type="email" class="form-control" id="email" placeholder="" required="required" v-bind:class="{ 'is-invalid': emailError }">
    <div class="invalid-feedback">
      {{ emailErrMsg }}
   </div>
 </div>
</div>
</template>

<script>
export default {
  name: 'ShoppingEmail',
  data() {
    return {
      email:'',
      emailError: false,
      emailErrMsg: ''
    }
  },
  watch: {
    email: function(value){
      this.$emit('getEmail', value);
      let checkEmail = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
      if (!checkEmail.test(value)) {
        this.emailError  = true;
        this.emailErrMsg = '請輸入正確資料';
      }
      else {
        this.emailError = false;
      }

    }
  },

  created() {
  },

  methods: {

  }

}

</script>
