<template>
  <div>
   <div class="row mb-3">
    <div class="col-md-12">
      <label>發票資訊</label>
      <div class="custom-control custom-radio">
        <input v-model="receipt" name="receipt" type="radio" class="custom-control-input" id="receipt1" value="1">
        <label class="custom-control-label" for="receipt1">二聯式發票</label>
      </div>
      <div class="custom-control custom-radio">
        <input v-model="receipt" name="receipt" type="radio" class="custom-control-input" id="receipt2" value="2">
        <label class="custom-control-label" for="receipt2">三聯式紙本發票</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input v-model="requestPaperInvoice" name="requestPaperInvoice" type="checkbox" class="custom-control-input" id="requestPaperInvoice">
        <label class="custom-control-label" for="requestPaperInvoice">索取紙本發票</label>
      </div>
    </div>
  </div>


  <div class="row mb-3" v-if="receipt === '2'">
    <div class="col-md-12">
      <label for="receiptTitle">發票抬頭</label>
      <input v-model="receiptTitle" name="receiptTitle" type="text" class="form-control"  v-bind:class="{ 'is-invalid': receiptTitleError }">
      <div class="invalid-feedback">
        {{ receiptTitleErrMsg }}
      </div>
    </div>
    <div class="col-md-12">
      <label for="receiptTax">統一編號</label>
      <input v-model="receiptTax" name="receiptTax" type="text" class="form-control"  v-bind:class="{ 'is-invalid': receiptTaxError }">
      <div class="invalid-feedback">
        {{ receiptTaxErrMsg }}
      </div>
    </div>
  </div>
</div>

</template>

<script>
export default {
  name: 'ShoppingReceipt',
  data() {
    return {
      receipt: '1',
      requestPaperInvoice: false,
      receiptTitle: '',
      receiptTax: '',
      receiptTitleError: false,
      receiptTitleErrMsg: '',
      receiptTaxError: false,
      receiptTaxErrMsg: '',
    }
  },
  watch: {
   receipt: function(value){
    this.$emit('getReceipt', value);
  },
  requestPaperInvoice: function(value){
    this.$emit('getRequestPaperInvoice', value);
  },
  receiptTitle: function(value){
    this.$emit('getReceiptTitle', value);

    if (value === "") {
      this.receiptTitleError  = true;
      this.receiptTitleErrMsg = '請輸入正確資料';
    }
    else {
      this.receiptTitleError = false;
    }

  },
  receiptTax: function(value){
    this.$emit('getReceiptTax', value);
    let checkReceiptTax = /^[0-9]+$/;
    if (!checkReceiptTax.test(value)) {
      this.receiptTaxError  = true;
      this.receiptTaxErrMsg = '請輸入正確資料';
    }
    else {
      this.receiptTaxError = false;
    }
  }
},

created() {
},

methods: {

}

}

</script>
