<template>
 <form id="mpgForm" method='post' :action='this.$conf.SHOPPINGCART_MPGGATEWAY_API' style="display:none">
  <input v-for="(item, key) in mpgApiResults" :value="item" :name="key" type='text' >
</form>
</template>

<script>
export default {
  name: 'ShoppingMpgApi',
  data() {
    return {
      mpgApiResults:{}
    }
  },
  props:['sendState', 'mpgApiData', 'sendData'],
  watch: {
    sendState: function(value){
     if(value === true){
      this.handleSubmit();
    }
  }
},

created() {
},

methods: {
  mpgApi(){
    const self = this;
    axios.get(self.$conf.SHOPPINGCART_MPG_API + self.mpgApiData)
    .then((response) => {
      this.mpgApiResults  = response.data;
    })
  },

  createOrdersApi(){
    const self = this;
    axios.post(self.$conf.SHOPPINGCART_CREATEORDERS_API, {results: self.sendData})
    .then((response) => {
      console.table(response.data);
      if(response.data.Status === "SUCCESS"){
        let MerchantOrderNo = response.data.MerchantOrderNo;
        self.mpgApiData     = MerchantOrderNo + '/' + self.mpgApiData;
        this.mpgApi(); 
      }

    })
  },

  handleSubmit() {
    this.createOrdersApi();
    setTimeout(() => {
      document.querySelector('#mpgForm').submit();
    }, 1000)
  }

}

}

</script>
