<template>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="firstName">姓</label>
      <input v-model="firstName" name="firstName" type="text" class="form-control" id="firstName" placeholder="" value=""  v-bind:class="{ 'is-invalid': firstNameError }" required="required">
      <div class="invalid-feedback">
        {{ firstNameErrMsg }}
      </div>
    </div>
    <div class="col-md-6">
      <label for="lastName">名</label>
      <input v-model="lastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="" value=""  v-bind:class="{ 'is-invalid': lastNameError }" required="required">
      <div class="invalid-feedback">
       {{ lastNameErrMsg }}
     </div>
   </div>
 </div>
</template>

<script>
export default {
  name: 'ShoppingName',
  data() {
    return {
      firstName: '',
      lastName: '',
      name: '',
      firstNameError: false,
      firstNameErrMsg: '',
      lastNameError: false,
      lastNameErrMsg: '',
    }
  },
  watch: {
    firstName: function(value){
      this.name = value+this.lastName;
      this.$emit('getFirstName', value);

      let checkName = /^[a-zA-Z\u4E00-\u9FFF]+$/;
      if (!checkName.test(value)) {
        this.firstNameError  = true;
        this.firstNameErrMsg = '請輸入正確資料';
      }
      else {
        this.firstNameError = false;
      }

    },
    lastName: function(value){
      this.name = this.firstName+value;
      this.$emit('getLastName', value);

      let checkName = /^[a-zA-Z\u4E00-\u9FFF]+$/;
      if (!checkName.test(value)) {
        this.lastNameError  = true;
        this.lastNameErrMsg = '請輸入正確姓名';
      }
      else {
        this.lastNameError = false;
      }

    },
    name: function(value){
      this.$emit('getName', value);
    }

  },

  created() {
  },

  methods: {

  }

}

</script>
