<template>
  <div class="col-md-12 row">
    <div class="col-md-6">
      <div class="col-md-12">
        Status:{{status}}
      </div>
      <div class="col-md-12">
        Message:{{message}}
      </div>

      <div class="col-md-12" v-for="(item, key) in tradeInfo">
       {{key}}:{{item}}
     </div>
   </div>

   <div class="col-md-6">
    <div class="col-md-12">
      Status:{{invoiceState}}
    </div>
    <div class="col-md-12">
      Message:{{invoiceMessage}}
    </div>

    <div class="col-md-12" v-for="(item, key) in invoiceInfo">
     {{key}}:{{item}}
   </div>
 </div>


</div>
</template>

<script>
export default {
  name: 'MpgFeedBack',
  data() {
    return {
      invoiceState:'',
      invoiceMessage:'',
      MerchantOrderNo:'',
      invoiceInfo:{},
      tradeInfo:{},
      postDataArray:{
        type        :'2',
        BuyerName   :'',
        BuyerAddress:'',
        BuyerEmail  :'',
        BuyerPhone  :'',

        /*銷售額 未稅*/
        Amt         :'',

        /*稅額*/
        TaxAmt      :'',

        /*總計           = 銷售額+稅額*/
        TotalAmt    :'',
        ItemName    :'',
        ItemCount   :'',
        ItemUnit    :'',

        /*單價           = 銷售額+稅額*/
        ItemPrice   :'',  

        /*金額           = 銷售額+稅額*/
        ItemAmt     :'',
        Comment     :'',
      }
    }
  },
  props:['status', 'message', 'tradeinfoarray'],
  watch: {
    postDataArray:function(data){
      const self = this;
      if(this.status === 'SUCCESS'){
        axios.post(self.$conf.SHOPPINGCART_INVOICEISSUE_Api + self.MerchantOrderNo, data)
        .then((response) => {
          self.invoiceState   = response.data.Status;
          self.invoiceMessage = response.data.Message;
          self.invoiceInfo    = response.data.Result;
          console.table(response.data)
        })
      }

    },
    tradeInfo:function(data){
      const self = this;
      this.MerchantOrderNo = data.MerchantOrderNo;
      axios.get(self.$conf.SHOPPINGCART_SHOWORDER_Api + self.MerchantOrderNo)
      .then((response) => {
        self.postDataArray = {
          type        :'2',
          BuyerName   : response.data.orders_id,
          BuyerAddress: response.data.orders_id,
          BuyerEmail  : response.data.orders_id,
          BuyerPhone  : response.data.orders_id,

          /*銷售額 未稅*/
          Amt         : response.data.subtotal,

          /*稅額*/
          TaxAmt      : 0,

          /*總計           = 銷售額+稅額*/
          TotalAmt    :response.data.subtotal,
          ItemName    :response.data.orders_id,
          ItemCount   :1,
          ItemUnit    :1,

          /*單價           = 銷售額+稅額*/
          ItemPrice   :response.data.subtotal,  

          /*金額           = 銷售額+稅額*/
          ItemAmt     :response.data.subtotal,
          Comment     :'',
        };

      })


    }

  },

  created() {
    this.tradeInfo = JSON.parse(this.tradeinfoarray);
  },

  methods: {


  }

}

</script>
